<div class="container-fluid">
  <div class="row">
    <img src="./../../assets/images/health/01.jpg" alt="">
    <div class="word">
      <p>10月，晚秋时节润燥滋阴</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!--=============================================================================左侧固定导航-->
    <div class="col-xs-4" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" id="myNav">
        <li class=""><a href="./health#section-1">饮食小常识</a></li>
        <li class=""><a href="./health#section-2">饮食禁忌</a></li>
        <li class=""><a href="./health#section-3">食品安全</a></li>
        <li class=""><a href="./health#section-4">美食典故</a></li>
        <li class=""><a href="./health#section-5">茶文化</a></li>
      </ul>
    </div>
    <!--=============================================================================左侧固定导航-->


    <!--=============================================================================右侧健康信息-->
    <div class="health-info col-xs-8">
      <h2 id="section-1">帮助你了解更多的饮食小常识</h2>
      <ul>
        <ng-container *ngFor="let healthcommon of _health | healthCommon">
          <li><a (click)="toHealthDetail(healthcommon?.healthtitle)">{{healthcommon?.healthtitle}}</a></li>
        </ng-container>
      </ul>
      <hr>
      <h2 id="section-2">生活中需要知道的那些饮食间的禁忌</h2>
      <ul>
        <ng-container *ngFor="let healthtaboo of _health | healthTaboo">
          <li><a (click)="toHealthDetail(healthtaboo?.healthtitle)">{{healthtaboo?.healthtitle}}</a></li>
        </ng-container>
      </ul>
      <hr>
      <h2 id="section-3">警惕生活中那些不容忽视的食品安全问题</h2>
      <ul>
        <ng-container *ngFor="let healthsafety of _health | healthSafety">
          <li><a (click)="toHealthDetail(healthsafety?.healthtitle)">{{healthsafety?.healthtitle}}</a></li>
        </ng-container>
      </ul>
      <hr>
      <h2 id="section-4">了解那些美食的历史典故</h2>
      <ul>
        <ng-container *ngFor="let healthstory of _health | healthStory">
          <li><a (click)="toHealthDetail(healthstory?.healthtitle)">{{healthstory?.healthtitle}}</a></li>
        </ng-container>
      </ul>
      <hr>
      <h2 id="section-5">茶说：我就是一杯水，你看到的是你的想象</h2>
      <ul>
        <ng-container *ngFor="let healthtea of _health | healthTea">
          <li><a (click)="toHealthDetail(healthtea?.healthtitle)">{{healthtea?.healthtitle}}</a></li>
        </ng-container>
      </ul>
    </div>
    <!--=============================================================================右侧健康信息-->
  </div>
</div>

