<div class="container-fluid">
  <div class="row">
    <img src="./../../assets/images/health/02.jpg" alt="">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="health-title col-xs-4">
      <!--<h3>办公室常备3类健康零食</h3>-->
      <!--<p>作者：伊吹鸡腿子</p>-->
      <!--<p>时间：2017-10-01</p>-->
      <h3>{{_detail?.healthtitle}}</h3>
      <p>作者:{{_detail?.healthauthor}}</p>
      <p>时间:{{_detail?.healthtime}}</p>
      <div class="info-img">
        <img src="{{_detail?.healthimg}}" alt="">
      </div>
    </div>
    <div class="health-detail col-xs-8">

      <div>
        <!--<p> 　　护眼零食：枸杞、蓝莓-->
        <!--</p>-->
        <!--<p>-->
        <!--　　枸杞自古有“红宝”之称，它富含的天然色素β胡萝卜素作为维生素A的前体，可预防维生素A不足，能护眼明目。长时间注视电脑、电视、游戏机等，都会使得维生素A消耗量增大，要格外注意补充。蓝莓富含花青素，具有保护微血管改善眼睛供血的作用。-->
        <!--</p>-->
        <!--<p> 　　解饿零食：全麦面包、坚果-->
        <!--</p>-->
        <!--<p>-->
        <!--　　全麦面包属于复合性碳水化合物，不会让血糖快速波动，且高纤维会带来饱腹感，让人不容易饿。原味花生、杏仁、核桃等各种坚果含有丰富的植物性蛋白质、健康的不饱和油脂及纤维，可提供饱腹感，延缓胃排空的速度。但坚果的油脂太多，每天只宜吃一汤匙的量，否则容易增肥。-->
        <!--</p>-->
        <!--<p> 　　提神零食：绿茶、黑巧克力-->
        <!--</p>-->
        <!--<p>-->
        <!--　　绿茶含有茶氨酸，这是一种有放松大脑功效的抗氧化剂，能让人迅速从紧张焦虑中解脱出来。绿茶中富含的咖啡碱能促使人体中枢神经兴奋，起到提神益智的效果，但不建议喝绿茶饮料。研究显示，黑巧克力能增加大脑供血，每天仅需吃9.3克黑巧力就能预防年龄增加导致的记忆衰退。此外，黑巧克力还能刺激大脑释放感觉良好的化学物——神经介质，让人注意力更集中。-->
        <!--</p>-->
        <!--<p> 　　除了以上的3类零食之外，很多办公族会经常觉得焦虑、压力大，这种时候，可以吃一些具有缓解焦虑和压力的食物。-->
        <!--</p>-->
        <!--<p> 　　5种食物缓解焦虑和压力-->
        <!--</p>-->
        <!--<p> 　　1、 香蕉。香蕉中含有一种称为生物碱的物质，可以振奋人的精神和提高信心。而且香蕉是色胺酸和维生素b6的来源，这些都可帮助大脑制造血清素。-->
        <!--</p>-->
        <!--<p> 　　2、 樱桃。樱桃被西方医生称为自然的阿斯匹林。因为樱桃中有一种叫做花青素的物质，能够制造快乐。密芝根大学的科学家认为，人们在心情不好的时候吃20颗樱桃比吃任何药物都有效。-->
        <!--</p>-->
        <!--<p> 　　3、 葡萄柚。葡萄柚里含高量的维生素c，不仅可以维持红细胞的浓度，增强身体的抵抗力，而且维生素c也可以抗压。最重要的是，在制造多巴胺、肾上腺素时，维生素c是重要成分之一。-->
        <!--</p>-->
        <!--<p> 　　4、-->
        <!--芹菜。压力影响睡眠，你会发现还没入睡多久就醒了，这是一种常见的高压症状。芹菜中的色氨酸有助于身体产生大脑血清素，对维持积极的情绪以及健康的睡眠是必不可少的。芹菜梗加上无糖花生酱可以帮助保证整晚的睡眠质量以及维持血糖水平在一常量。-->
        <!--</p>-->
        <!--<p> 　　5、 牛奶。钙是天然的神经系统稳定剂。人在受到某种压力时，通过小便排出体外的钙就会增加。因此，备战考生要注意选择含钙高的牛奶、酸奶、虾皮、蛋黄等食物，有安定情绪的效果。-->
        <!--</p>-->
        <!--<p> 　　5、 牛奶。钙是天然的神经系统稳定剂。人在受到某种压力时，通过小便排出体外的钙就会增加。因此，备战考生要注意选择含钙高的牛奶、酸奶、虾皮、蛋黄等食物，有安定情绪的效果。-->
        <!--</p>-->
        <!--<p> 　　5、 牛奶。钙是天然的神经系统稳定剂。人在受到某种压力时，通过小便排出体外的钙就会增加。因此，备战考生要注意选择含钙高的牛奶、酸奶、虾皮、蛋黄等食物，有安定情绪的效果。-->
        <!--</p>-->
        <!--<p> 　　5、 牛奶。钙是天然的神经系统稳定剂。人在受到某种压力时，通过小便排出体外的钙就会增加。因此，备战考生要注意选择含钙高的牛奶、酸奶、虾皮、蛋黄等食物，有安定情绪的效果。-->
        <!--</p>-->
        <!--<p> 　　5、 牛奶。钙是天然的神经系统稳定剂。人在受到某种压力时，通过小便排出体外的钙就会增加。因此，备战考生要注意选择含钙高的牛奶、酸奶、虾皮、蛋黄等食物，有安定情绪的效果。-->
        <!--</p>-->
        <p>{{_detail?.healthp1}}</p>
        <p>{{_detail?.healthp2}}</p>
        <p>{{_detail?.healthp3}}</p>
        <p>{{_detail?.healthp4}}</p>
        <p>{{_detail?.healthp5}}</p>
        <p>{{_detail?.healthp6}}</p>
        <p>{{_detail?.healthp7}}</p>
        <p>{{_detail?.healthp8}}</p>
        <p>{{_detail?.healthp9}}</p>
        <p>{{_detail?.healthp10}}</p>
        <p>{{_detail?.healthp11}}</p>
        <p>{{_detail?.healthp12}}</p>
        <p>{{_detail?.healthp13}}</p>
        <p>{{_detail?.healthp14}}</p>
        <p>{{_detail?.healthp15}}</p>
      </div>
    </div>
  </div>
</div>

