input, button, ul, li {
  padding: 0;
  margin: 0;
}

.container-fluid {
  text-align: center;
}

.container-fluid img {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.search-box {
  position: relative;
  top: -315px;
}

.search-input {
  width: 400px;
  height: 40px;
}

.search-btn {
  padding: 10px 20px;
  height: 40px;
  border: none;
  outline: none;
}

.menu-nav {
  list-style: none;
  height: 80px;
  text-align: center;
  position: relative;
  top: -102px;
}

.menu-nav > li {
  /*background-color: #ffcf42;*/
  background-color: rgba(255,204,2,.8);
  padding: 20px 0px;
  font-size: 16px;
  font-weight: bold;
  /*border: 1px solid blue;*/
  /*box-sizing: border-box;*/
}

.menu-nav a {
  color: black;
  text-decoration: none;
}

.menu-list {
  position: absolute;
  z-index: 5;
  top: 65px;
  list-style: none;
  display: none;
  font-weight: normal;
  background-color: #888888;
}

.menu-nav > li:hover .menu-list {
  display: block;
}
.menu-list li{
  padding: 5px 0px;
}
