<div class="container-fluid">
  <div class="row">
    <img src="./../../assets/images/menu/menubanner.jpg" alt="">
    <div class="search-box center-block">
      <input type="text" class="search-input">
      <button class="search-btn">搜索</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <ul class="menu-nav col-xs-12">
      <li class="col-xs-3">
        <a routerLink="./menu-home" routerLinkActive="active">家常菜谱</a>
        <!--<ul class="menu-list col-xs-6 col-xs-push-3">-->
        <!--<li ><a href="">家常菜</a></li>-->
        <!--<li><a href="">私家菜</a></li>-->
        <!--<li><a href="">凉菜</a></li>-->
        <!--<li><a href="">海鲜</a></li>-->
        <!--<li><a href="">热菜</a></li>-->
        <!--<li><a href="">汤粥</a></li>-->
        <!--<li><a href="">素食</a></li>-->
        <!--</ul>-->
      </li>
      <li class="col-xs-3">
        <a routerLink="./menu-china" routerLinkActive="active">中华菜谱</a>
        <!--<ul class="menu-list col-xs-6 col-xs-push-3">-->
        <!--<li><a href="">川菜</a></li>-->
        <!--<li><a href="">湘菜</a></li>-->
        <!--<li><a href="">粤菜</a></li>-->
        <!--<li><a href="">东北菜</a></li>-->
        <!--<li><a href="">鲁菜</a></li>-->
        <!--<li><a href="">浙菜</a></li>-->
        <!--<li><a href="">苏菜</a></li>-->
        <!--<li><a href="">清真菜</a></li>-->
        <!--<li><a href="">闽菜</a></li>-->
        <!--<li><a href="">沪菜</a></li>-->
        <!--</ul>-->
      </li>
      <li class="col-xs-3">
        <a routerLink="./menu-foreign" routerLinkActive="active">外国菜谱</a>
        <!--<ul class="menu-list col-xs-6 col-xs-push-3">-->
        <!--<li><a href="">韩国料理</a></li>-->
        <!--<li><a href="">日本料理</a></li>-->
        <!--<li><a href="">法国菜</a></li>-->
        <!--<li><a href="">意大利菜</a></li>-->
        <!--<li><a href="">西餐面点</a></li>-->
        <!--</ul>-->
      </li>
      <li class="col-xs-3">
        <a routerLink="./menu-bake" routerLinkActive="active">烘培</a>
        <!--<ul class="menu-list col-xs-6 col-xs-push-3">-->
        <!--<li><a href="">蛋糕面包</a></li>-->
        <!--<li><a href="">饼干配方</a></li>-->
        <!--<li><a href="">甜品点心</a></li>-->
        <!--</ul>-->
      </li>
    </ul>

  </div>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
